.member-info {
  padding: 1.5rem;
  height: 100vh;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);
}

/* Back Button */
.back-button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  font-size: 1rem;
  display: flex;
  align-items: center;
  cursor: pointer;
  position: relative;
  margin-bottom: 20px;

  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease;
}

.back-button i {
  margin-right: 0.5rem;
}

.back-button:hover {
  background-color: #0056b3;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.join-date {
  background-color: #f1f1f1; /* Background color for join date */
  padding: 0.3rem 0.6rem;
  border-radius: 4px;
  font-size: 0.9rem; /* Smaller font size for the join date */
}

.info-row {
  display: flex;
  justify-content: space-between;
  margin-top: 1rem;
}

.left,
.right {
  flex: 1; /* Flex grow for both left and right sections */
  display: flex;
  flex-direction: column;
}

.left p,
.right p {
  margin: 0.5rem 0; /* Space between rows */
  font-size: 1rem;
}

.left i,
.right i {
  margin-right: 0.5rem; /* Space between icon and text */
}

.invoice-list {
  margin-top: 2rem;
}

.date {
  font-size: 1rem; /* Smaller font size for the date */
  margin-bottom: 1rem;
  color: dimgray;
}

.amount {
  font-size: 1.1rem; /* Smaller font size for the amount */
  font-weight: bold; /* Bold font weight for the amount */
}

.invoice-list h3 {
  margin-bottom: 1rem;
}

.invoice-item {
  padding: 1.5rem;
  background-color: #f9f9f9;
  border-radius: 6px;
  margin-bottom: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);
}

.invoice-item .status {
  font-weight: bold;
  padding: 0.5rem;
  border-radius: 4px;
}

.invoice-item .status.paid {
  background-color: #28a745;
  color: white;
}

.invoice-item .status.pending {
  background-color: #ffc107;
  color: white;
}

.invoice-item .status.unpaid {
  background-color: #dc3545;
  color: white;
}
