<button class="back-button" routerLink="/members">
  <i class="fas fa-arrow-left"></i> Back to List
</button>
<div class="member-info">
  <!-- Back to List Button -->

  <div class="header">
    <h2>{{ member?.name }}</h2>
    <span class="join-date">Client since: {{ member?.joinDate }}</span>
  </div>

  <div class="info-row">
    <div class="left">
      <p><i class="fas fa-envelope"></i> {{ member?.email }}</p>
      <p><i class="fas fa-id-card"></i> {{ member?.cpr }}</p>
      <p><i class="fas fa-home"></i> {{ member?.address }}</p>
    </div>

    <div class="right">
      <p><i class="fas fa-user"></i> {{ member?.membershipStatus }}</p>
      <p><i class="fas fa-credit-card"></i> {{ member?.subscriptionType }}</p>
    </div>
  </div>

  <div class="invoice-list">
    <h3>Invoices</h3>
    <div *ngFor="let invoice of member?.invoices" class="invoice-item">
      <div>
        <p class="date"><strong>Date:</strong> {{ invoice.date }}</p>
        <p class="amount">
          <strong>Amount:</strong> {{ invoice.amount }},00 dkk
        </p>
      </div>
      <span
        class="status"
        [ngClass]="{
          paid: invoice.status === 'Paid',
          pending: invoice.status === 'Pending',
          unpaid: invoice.status === 'Unpaid'
        }"
        >{{ invoice.status }}</span
      >
    </div>
  </div>
</div>
