<div class="container">
  <aside class="sidebar">
    <nav>
      <ul>
        <li><a routerLink="/members">Member List</a></li>
      </ul>
    </nav>
  </aside>

  <main class="main-content">
    <div class="left-side">
      <router-outlet></router-outlet>
      <!-- Primary outlet for MemberListComponent -->
    </div>

    <div class="right-side">
      <!-- <router-outlet name="details"></router-outlet> -->
      <!-- Named outlet for MemberDetailComponent -->
      <div class="center-align">
        <p>Select a user to check their details</p>
      </div>
    </div>
  </main>
</div>
